<settings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://developer.garmin.com/downloads/connect-iq/resources.xsd">

    <setting propertyKey="@Properties.BgColor" title="@Strings.SettingBgColor">
        <settingConfig type="list">
            <listEntry value="0x000000">@Strings.ColorBlack</listEntry>
            <listEntry value="0xFFFFFF">@Strings.ColorWhite</listEntry>
            <listEntry value="0xFF0000">@Strings.ColorRed</listEntry>
            <listEntry value="0x0000FF">@Strings.ColorBlue</listEntry>
            <listEntry value="0x00AA00">@Strings.ColorGreen</listEntry>
            <listEntry value="0xFF8000">@Strings.ColorOrange</listEntry>
            <listEntry value="0x8800CC">@Strings.ColorPurple</listEntry>
            <listEntry value="0xFF69B4">@Strings.ColorPink</listEntry>
            <listEntry value="0x888888">@Strings.ColorGrey</listEntry>
        </settingConfig>
    </setting>

    <setting propertyKey="@Properties.HourColor" title="@Strings.SettingHourColor">
        <settingConfig type="list">
            <listEntry value="0x000000">@Strings.ColorBlack</listEntry>
            <listEntry value="0xFFFFFF">@Strings.ColorWhite</listEntry>
            <listEntry value="0xFF0000">@Strings.ColorRed</listEntry>
            <listEntry value="0x0000FF">@Strings.ColorBlue</listEntry>
            <listEntry value="0x00AA00">@Strings.ColorGreen</listEntry>
            <listEntry value="0xFF8000">@Strings.ColorOrange</listEntry>
            <listEntry value="0x8800CC">@Strings.ColorPurple</listEntry>
            <listEntry value="0xFF69B4">@Strings.ColorPink</listEntry>
            <listEntry value="0x888888">@Strings.ColorGrey</listEntry>
        </settingConfig>
    </setting>

    <setting propertyKey="@Properties.MinColor" title="@Strings.SettingMinColor">
        <settingConfig type="list">
            <listEntry value="0x000000">@Strings.ColorBlack</listEntry>
            <listEntry value="0xFFFFFF">@Strings.ColorWhite</listEntry>
            <listEntry value="0xFF0000">@Strings.ColorRed</listEntry>
            <listEntry value="0x0000FF">@Strings.ColorBlue</listEntry>
            <listEntry value="0x00AA00">@Strings.ColorGreen</listEntry>
            <listEntry value="0xFF8000">@Strings.ColorOrange</listEntry>
            <listEntry value="0x8800CC">@Strings.ColorPurple</listEntry>
            <listEntry value="0xFF69B4">@Strings.ColorPink</listEntry>
            <listEntry value="0x888888">@Strings.ColorGrey</listEntry>
        </settingConfig>
    </setting>

    <setting propertyKey="@Properties.LeftField" title="@Strings.SettingLeftField">
        <settingConfig type="list">
            <listEntry value="0">@Strings.FieldNone</listEntry>
            <listEntry value="1">@Strings.FieldSteps</listEntry>
            <listEntry value="2">@Strings.FieldCalories</listEntry>
            <listEntry value="3">@Strings.FieldDistance</listEntry>
            <listEntry value="4">@Strings.FieldFloors</listEntry>
            <listEntry value="5">@Strings.FieldActiveMin</listEntry>
            <listEntry value="7">@Strings.FieldElevation</listEntry>
        </settingConfig>
    </setting>

    <setting propertyKey="@Properties.RightField" title="@Strings.SettingRightField">
        <settingConfig type="list">
            <listEntry value="0">@Strings.FieldNone</listEntry>
            <listEntry value="1">@Strings.FieldSteps</listEntry>
            <listEntry value="2">@Strings.FieldCalories</listEntry>
            <listEntry value="3">@Strings.FieldDistance</listEntry>
            <listEntry value="4">@Strings.FieldFloors</listEntry>
            <listEntry value="5">@Strings.FieldActiveMin</listEntry>
            <listEntry value="7">@Strings.FieldElevation</listEntry>
        </settingConfig>
    </setting>

    <setting propertyKey="@Properties.Use24h" title="@Strings.SettingUse24h">
        <settingConfig type="boolean" />
    </setting>

</settings>
